/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

body {
    overflow:hidden;
    margin:0px; padding:0px;

    animation-name: backgroundColorPalette;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

    cloud, player, bullet, powerup, enemy {
      position: absolute;
      display: block;
      box-sizing: border-box;
      background-repeat: no-repeat;
    }
  
    player {
        background-size: contain;
        width:100px; height: 80px;
        z-index: 1000;
    }
    
    bullet {
      background-image: url(../images/bullet.png);
        background-size: contain;
        width:60px; height: 40px;
        z-index: 999;
    }

    enemy {
      background-size: contain;
      width:100px; height: 100px;
      z-index: 999;
    }
    
    cloud {
        background-size: contain;
        width:130px; height: 110px;
    }

    powerup {
      width:60px; height: 40px;
      background-color: yellow;
      z-index: 999;
    }

    .gameover {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      font-size: 100px;
      font-family: 'Raleway', sans-serif;
    }
}

@keyframes backgroundColorPalette {
    0% {
      background: #add8e6;
    }
    50% {
      background: #b8d3db;
    }
    75% {
      background: #99c9da;
    }
    100% {
      background: #add8e6;
    }
}