/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body startscreen {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

body startscreen div {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body startscreen div h1 {
  font-size: 50px;
  text-align: center;
}

body startscreen div button {
  margin: auto;
  display: block;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  background-color: green;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
}

body game {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  -webkit-animation-name: backgroundColorPalette;
          animation-name: backgroundColorPalette;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

body game introductionDiv {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body game introductionDiv h1 {
  font-size: 50px;
  text-align: center;
}

body game cloud, body game bigcloud, body game player, body game bullet, body game powerup, body game enemy {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
}

body game player {
  background-size: contain;
  width: 125px;
  height: 100px;
  z-index: 1000;
}

body game bullet {
  background-image: url(../images/bullet.png);
  background-size: contain;
  width: 60px;
  height: 40px;
  z-index: 999;
}

body game enemy {
  background-size: contain;
  width: 100px;
  height: 100px;
  z-index: 999;
}

body game cloud, body game bigcloud {
  background-size: contain;
  width: 130px;
  height: 110px;
}

body game powerup {
  background-size: contain;
  width: 60px;
  height: 60px;
  background-image: url(../images/powerup.png);
  z-index: 999;
}

body game gamestats {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  z-index: 1002;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0px;
      grid-template-areas: "Name Lives Score";
}

body game gamestats name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Name;
  text-align: contain;
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body game gamestats score {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Score;
  text-align: contain;
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body game gamestats lives {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Lives;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body game gamestats lives life {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  margin: 0px 12px;
}

body game .gameover, body game .yourscore {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1002;
}

body game .gameover {
  top: 40%;
  font-size: 100px;
}

body game .yourscore {
  top: 50%;
  font-size: 50px;
}

@-webkit-keyframes backgroundColorPalette {
  0% {
    background: #add8e6;
  }
  50% {
    background: #b8d3db;
  }
  75% {
    background: #99c9da;
  }
  100% {
    background: #add8e6;
  }
}

@keyframes backgroundColorPalette {
  0% {
    background: #add8e6;
  }
  50% {
    background: #b8d3db;
  }
  75% {
    background: #99c9da;
  }
  100% {
    background: #add8e6;
  }
}
/*# sourceMappingURL=style.css.map */